# Byte-compiled files
__pycache__/
*.py[cod]

# Environment variable file
.env

# Flask specific files
instance/
*.pyc
*.pyo
*.pyd
*.sqlite3

# IDE files
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Pyenv
.python-version

# MyPy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
